<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.finalandproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".test.Test_Menu_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".test.ListviewActivity"></activity>
        <activity android:name=".test.TestTopView" />
        <activity android:name=".test.TestJava"></activity>
        <activity android:name=".member.Mem_Join_Success_page" />
        <activity android:name=".member.Mem_Modify_Page" />
        <activity android:name=".member.Mem_Join_Page" />
        <activity android:name=".Main_Page">
        </activity>
        <activity android:name=".test.TestCalender"></activity>


        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar">
     </activity>
        <activity android:name=".Main_Page2">
        </activity>
        <activity android:name=".Main_page3"></activity>


        <!-- 네이버 라이브러리 -->

        <activity android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity"
            android:label="OAuth2.0 In-app"/>


    </application>

</manifest>